.Weather_Root {
	margin: 1.25rem 0 0;
}

.Weather_Cards {
	display: flex;
	justify-content: space-between;
}

/* Design for Screens wider than 768px */

@media screen and (min-width: 768px) {
	.Weather_Root {
		margin-left: 1.25rem;
		grid-area: 1 / 3 / 2 / 4;
	}
	.Date_Heading {
		font-size: 1.5rem;
		line-height: 1.2;
		color: var(--primary);
	}
	.Weather_Heading {
		background: var(--white);
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
		flex-shrink: 1;
		border-radius: 8px;
		transition: 0.5s;
	}
	.Weather_Heading > * {
		margin: 0 0.5rem;
	}
	.Weather_Heading:hover {
		cursor: pointer;
		transform: scale(1.025);
	}
	.Weather_Cards {
		flex-flow: column nowrap;
	}
}

@media screen and (max-width: 448px) {
	.Weather_Cards > :nth-last-child(1) {
		display: none;
	}
}
