.News {
	margin-bottom: 2rem;
}

.News > h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.1;
	color: var(--black80);
	margin-left: 0.5rem;
}

.News_Cards {
	display: flex;
	flex-flow: row wrap;
	justify-content: safe;
	align-items: center;
	padding: 1rem 0.25rem;
}

/* Design for Screens wider than 768px */

@media screen and (min-width: 768px) {
	.News > h2 {
		font-size: 2.25rem;
	}
}
