.Weather_Card {
	text-align: center;
	font-size: 0.75rem;
	line-height: 1.2;
	width: 100%;
	border-radius: 8px;
	margin: 0.1rem;
	transition: 0.5s;
}

.Weather_Card:hover {
	cursor: pointer;
	box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.1);
	transform: scale(1.025);
}

.today {
	background: var(--white);
}

.today > .Day {
  color: var(--primary)
}

.Day, .Temp_Min {
	color: var(--faded);
}

.Day.DesktopOnly {
  width: 7rem;
  text-align: left;
}

.Temp_Min,
.Temp_Max {
	width: 3.25rem;
	text-align: right;
	margin-left: 0.25rem;
}

.SunIcon {
	display: block;
	margin: auto;
	width: 1.75rem;
	padding: 0 0.25rem;
}

/* Design for Screens wider than 768px */

@media screen and (min-width: 768px) {
	.MobileOnly {
		display: none;
	}
	.Weather_Card {
		font-size: 1.15rem;
		padding: 0 0.5rem;
		display: flex;
    justify-content: space-between;
		flex-grow: 1;
		flex-shrink: 1;
	}
	/* .today {
		display: none;
	} */
	.Day.DesktopOnly {
		text-align: left;
	}
}

/* For Mobile Only Design */
@media screen and (max-width: 768px) {
	.DesktopOnly {
		display: none;
	}
}
