.NewsCard {
  /* border: 1px solid black; */
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-start;
	width: 8rem;
	min-height: 15rem;
	border-radius: 8px;
	margin: 0 0.5rem 2rem;
	transition: 0.5s;
}

.NewsCard:hover {
	cursor: pointer;
	transform: scale(1.075);
}

.NewsCard > * {
	width: 8rem;
  /* border: 1px solid blueviolet; */
}

.NewsCard_Image {	
  border: 1px solid var(--black20);
	background-size: 110% 110%;
	background-repeat: no-repeat;
	background-position: center;
	height: 6rem;
	border-radius: 8px;
}

.NewsCard_Text {
	font-size: 1rem;
	line-height: 1;
	color: var(--black80);
	height: 6.75rem;
	margin: 1rem auto 0;
}

.NewsCard_Time {
	margin-bottom: 0;
	font-weight: 400;
	font-size: 0.5rem;
	color: var(--black20);
}

/* Design for Screens wider than 768px */

@media screen and (min-width: 768px) {
	.NewsCard {
		width: 17rem;
		height: 22.5rem;
	}

	.NewsCard > * {
		width: 17rem;
	}

	.NewsCard_Image {
		height: 11rem;
	}

	.NewsCard_Text {
		font-size: 1.25rem;
		line-height: 1.25;
		height: 6.5rem;
	}

	.NewsCard_Time {
    margin-top: 0;
		font-size: 0.75rem;
	}
}
