.Footer {
  display: grid;
  height: 3rem;
	font-family: 'Raleway', sans-serif;
	color: #949494;
	font-style: normal;
	font-weight: 500;
	font-size: 0.65rem;
	line-height: 1;
	text-align: center;
	width: 100%;
}

.Footer p {  
  align-self: center;
}

@media screen and (min-width: 768px) {
	.Footer {
		font-size: 1rem;
	}
}